/* transition
dùng để làm hiệu ứng cụ thể mượt hơn

*/
.button{
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial,sans-serif;
    color: black;
    padding: 8px 16px;
    display: inline-block;
    background-color: #DDD;
    /*hiệu ứng transition làm cho hiệu ứng chuyển đổi hover mượt hơn truyền vào trong khoảng thời gian và thuộc tính chuyển đổi all dùng để select cho toàn bộ thuộc tính*/
    transition: background-color 0.5s;
}
.button:hover{
    color: white;
    background-color: aqua;
}
.overlay i{
    font-size: 80px;
    color: white;
    transform: scale(0.5);
    transition: all 300ms;
}
.album-item{
    width: 200px;
    height: 200px;
    background-image: url('https://picsum.photos/200/300');
    background-position: center;
}
.album-item .overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.album-item:hover .overlay{
    opacity: 1;
}
.album-item:hover .overlay i{
    transform: scale(1);
}

